<link rel="stylesheet" href="/stylesheets/modal.css" />
<script src="js/modal.js"></script>
<div class="mod" data-eventID="">
  <div class="overlay"></div>
  <div class="mod__contents mod--transition">
    <a class="mod__close" href="#">✕</a>
    <img id="mod__cover" onerror="this.src='/images/xtasy.jpg';" src="/images/xtasy.jpg" />
    <div class="mod__text">
      <h1 id="mod__title">Load....</h1>
      <p id="mod__desc">
        Loading
      </p>
      <p id="mod__date_time_venue"></p>
      <p class="" id="mod__form_desc"> To confirm your registration for this Event click the button<a id="mod__form_link" href=""><button type="button" id="formbtn" class="btn btn-outline-dark btn-sm">fill it up</button></a></p>
     
      <div class="spinner__container">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>