<style>
    #timer {
    
    font-size: 3em;
    font-weight: 100;
    color: white;
    text-shadow: 0 0 20px #48C8FF;
    align-self: center;
    
  }
  #timer div {
    display: inline-block;
    min-width: 90px;
  }
  #timer div span {
    color: #B1CDF1;
    display: block;
    font-size: 0.35em;
    font-weight: 400;
  }
  
  @media screen and (max-width: 767px) {
    #timer {
    font-size: 1.5em;
    font-weight: 100;
    color: white;
    text-shadow: 0 0 20px #48C8FF;
    align-self: center;
  }#timer div {
    min-width: 70px;
  }
  
  #timer div span {
    color: #B1CDF1;
    display: block;
    font-size: 0.35em; 
  }  
  }
  </style>
  <script>
  function updateTimer() {
    future  = Date.parse("March 12, 2020 00:00:00");
    now     = new Date();
    diff    = future - now;
  
    days  = Math.floor( diff / (1000*60*60*24) );
    hours = Math.floor( diff / (1000*60*60) );
    mins  = Math.floor( diff / (1000*60) );
    secs  = Math.floor( diff / 1000 );
  
    d = days;
    h = hours - days  * 24;
    m = mins  - hours * 60;
    s = secs  - mins  * 60;
    if(diff<0){
     d=0;
     h=0;
     m=0;
     s=0; 
    }
    document.getElementById("timer")
      .innerHTML =
        '<div>' + d + '<span>days</span></div>' +
        '<div>' + h + '<span>hours</span></div>' +
        '<div>' + m + '<span>minutes</span></div>' +
        '<div>' + s + '<span>seconds</span></div>' ;
  }
  setInterval('updateTimer()', 1000 );
  </script>
  <center > <div id="timer"></div> </center>