<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Events</title>
		<link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" type="text/css" href="stylesheets/base.css" />
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    </head>
    
	<body>
		<%- include('partials/modal') %>
		<div class="title">
            <span class="top right"></span>
            <span class="top left"></span>
            <h2>Events</h2>
            <span class="bottom right"></span>
            <span class="bottom left"></span>
        </div>
		<div id="app" class="container">
			<% for(var i=1;i<18;i++) { %>	
			<card class="evbtn" data-image="images/xtasy.jpg">
				<h1 slot="header"><%= evjson[i]["event"] %></h1>
				<p slot="content"><%= evjson[i]["desc"].substring(0, 200) %>...</p>
			</card>
			<% } %>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
		<script src="js/mobile.js"></script>
	</body>
</html>
