<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Events</title>
		<meta name="description" content="A triple view diagonal slideshow with content preview." />
		<meta name="keywords" content="" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" type="text/css" href="stylesheets/base.css" />
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script>
		document.documentElement.className = "js";
		var supportsCssVars = function() { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e };
		supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
		</script>
    </head>
    
	<body>
		<%- include('partials/modal') %>
		<h1 class="title">Events</h1>
		<div id="app" class="container">
			<% for(var i=1;i<4;i++) { %>	
			<card class="evbtn" data-image="images/xtasy.jpg">
				<h1 slot="header"><%= evjson[i]["event"] %></h1>
				<p slot="content"><%= evjson[i]["desc"].substring(0, 200) %>...</p>
			</card>
			<% } %>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
		<script src="js/mobile.js"></script>
	</body>
</html>
