<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/gallery.css" />
  </head>
  <body>
    <div class="title">
      <span class="top right"></span>
      <span class="top left"></span>
      <h2>Gallery</h2>
      <span class="bottom right"></span>
      <span class="bottom left"></span>
    </div>
    <div class="gallery" id="gallery">
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/1.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/2.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img
            src="images/gallery/3.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/4.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/5.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/6.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/7.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/8.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/9.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/10.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img
            src="images/gallery/11.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img
            src="images/gallery/12.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/13.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/14.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/15.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/16.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/17.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/18.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/19.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/20.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/21.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/22.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/23.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/24.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/25.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/26.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/27.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/28.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/29.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/30.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/31.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/32.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/33.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/XTASY 1.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/XTASY 2.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/XTASY 3.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/XTASY 4.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/XTASY 5.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/XTASY 6.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/XTASY 7.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/XTASY 8.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/XTASY 9.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/XTASY 10.jpg" alt="" />
        </div>
      </div>
      <div class="gallery-item">
        <div class="content">
          <img src="images/gallery/XTASY 11.jpg" alt="" />
        </div>
      </div>
    </div>
    <script>
      var gallery = document.querySelector("#gallery");
      var getVal = function(elem, style) {
        return parseInt(window.getComputedStyle(elem).getPropertyValue(style));
      };
      var getHeight = function(item) {
        return item.querySelector(".content").getBoundingClientRect().height;
      };
      var resizeAll = function() {
        var altura = getVal(gallery, "grid-auto-rows");
        var gap = getVal(gallery, "grid-row-gap");
        gallery.querySelectorAll(".gallery-item").forEach(function(item) {
          var el = item;
          el.style.gridRowEnd =
            "span " + Math.ceil((getHeight(item) + gap) / (altura + gap));
        });
      };
      gallery.querySelectorAll("img").forEach(function(item) {
        item.classList.add("byebye");
        if (item.complete) {
          console.log(item.src);
        } else {
          item.addEventListener("load", function() {
            var altura = getVal(gallery, "grid-auto-rows");
            var gap = getVal(gallery, "grid-row-gap");
            var gitem = item.parentElement.parentElement;
            gitem.style.gridRowEnd =
              "span " + Math.ceil((getHeight(gitem) + gap) / (altura + gap));
            item.classList.remove("byebye");
          });
        }
      });
      window.addEventListener("resize", resizeAll);
      gallery.querySelectorAll(".gallery-item").forEach(function(item) {
        item.addEventListener("click", function() {
          item.classList.toggle("full");
        });
      });
    </script>
  </body>
</html>
