
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/login.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <title>Login</title>
  </head>
  <body>
    <div class="container">
        <form action="/login" method="POST">
          <h1>
            Log in
          </h1>
          <div class="form-content">
            <input id="user-name" name="username" placeholder="Email" type="text" required />
            <input id="password" name="password" placeholder="Password" type="password" required /><br />
            <input class="button" type="submit">
            <br />
            <div class="signup-message">
              <a href="#">Forgot your password?</a>
            </div>
            <div class="signup-message">
              <a href="/register">Not Registered?</a>
            </div>
          </div>
        </form>
      </div>
  <script src="js/login.js"></script>
  </body>
</html>