
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/login.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <title>Login</title>
  </head>
  <body>
    <a href="/" class="homelogo" ><i class="fa fa-home fa-3x" ></i></a> 
    <div class="container">
        <form action="/login" method="POST">
          <h1>
            Log in
          </h1>
          <div class="form-content">
            <input id="user-name" name="username" placeholder="Email" type="text" required />
            <input id="password" name="password" placeholder="Password" type="password" required /><br />
            <input class="button" type="submit" value="Submit">
            <br />
            <div class="signup-message">
              <a href="/resetPassword">Forgot your password?</a>
            </div>
            <div class="signup-message">
              <a href="/register">Not Yet Registered?</a>
            </div>
          </div>
        </form>
      </div>
  <script src="js/login.js"></script>
  
  <% if(err) { %>
    <script src="js/sweet.js"></script>
    <script>
      let err = "<%= err %>";
      Toast.fire({
          icon:"error",
        title: err
      });
    </script>
  <% } %>
  <% if(message) { %>
    <script src="js/sweet.js"></script>
    <script>
      let message = "<%= message %>";
      Toast.fire({
          icon:"success",
        title: message
      });
    </script>
  <% } %>
  <script>
    history.pushState(null, null, window.location.pathname);
  </script>
  </body>
</html>