<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Registration</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    
   <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" rel="stylesheet" media="all">
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="stylesheets/register.css" rel="stylesheet" media="all">
</head>

<body>
    <%- include('partials/preloader') %>
    <a href="/" class="homelogo" ><i class="fa fa-home fa-3x" ></i></a>
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Registration Info</h2>
                    <form action="/register" method="POST">
                        <div class="input-group">
                            <input class="input--style-1" type="email" placeholder="Email" name="username" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Name" name="name" required>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="gender">
                                            <option disabled="disabled" selected="selected">GENDER</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Other</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="College" name="college" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Phone" name="phone" pattern="[1-9]{1}[0-9]{9}" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="password" placeholder="Password" name="password" id="password" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="password" placeholder="Confirm Password" name="cpassword" id="cpassword" required>
                        </div>
                        <input class="button" type="submit" value="Submit">
                          <br />
                          <div class="signup-message">
                            <a href="/login">Already Registered?</a>
                          </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
    <script src="js/register.js"></script>

    <script>
        var password = document.getElementById("password")
        , confirm_password = document.getElementById("cpassword");

        function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

<% if(err) { %>
    <script src="js/sweet.js"></script>
    <script>
      let err = "<%= err %>";
      Toast.fire({
          icon:"error",
        title: err
      });
    </script>
    <script>
        history.pushState(null, null, window.location.pathname);
      </script>
  <% } %>
  
</body>

</html>
