<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/sponsers.css' />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>SPONSORS</title>
    </head>
    <body>
  
        <%- include('partials/preloader') %>
        <a href="/" class="homelogo" ><i class="fa fa-home fa-3x" ></i></a>

        <div class="title">
            <span class="top right"></span>
            <span class="top left"></span>
            <h2>SPONSORS</h2>
            <span class="bottom right"></span>
            <span class="bottom left"></span>
        </div>
        
    <div class="container sponsor" style=" padding-top: 20px;margin-top:60px;justify-content: center;">
        <div class="row r1 d-flex justify-content-center" >
           <div class="col-md-4 d-flex justify-content-center col-12 align-items-center" style="padding-top:50px; ">
                
                <img class="img-fluid spons-img " src="images/sponsors/MyBhubaneswar.png" style="height: 150px;width:150px;padding-top:20px;">
            </div>
            <div class="col-md-5 d-flex justify-content-center col-12 align-items-center" style="padding-top:50px; ">
                <img class="img-fluid spons-img " src="images/sponsors/unnamed.png"style="height: 150px; width: auto; padding-top:20px;">
            </div>
            <div class="col-md-3 d-flex justify-content-center col-12 align-items-center" style="padding-top:50px; ">
              <img class="img-fluid spons-img " src="images/sponsors/Odishashines.png"style="height:150px;width: auto;padding-top:20px;">   
            </div> 
        </div>
        <div class="row r2" style="justify-content: center;justify-content: space-between;">
            <div class="col-md-4 d-flex justify-content-center col-12 align-items-center" style="padding-top:50px; ">
                <img class="img-fluid spons-img " src="images/sponsors/pierooms.png" style="height: 180px;width:160px;padding-top:20px;">
            </div>
            <div class="col-md-5 d-flex justify-content-center col-12 align-items-center" style="padding-top:50px; ">
                <img class="img-fluid spons-img " src="images/sponsors/oc.png"style="height: 160px; width: 400px; padding-top:20px;">
            </div>
            <div class="col-md-3 d-flex justify-content-center col-12 align-items-center" style="padding-top:50px; ">
              <img class="img-fluid spons-img " src="images/sponsors/discoverodisha.png"style="height:200px;width: 200px;padding-top:20px;">   
            </div>
        </div>
        <div class="row r2 " style="justify-content: center;justify-content: space-between;">
            <div class="col-md-1 d-flex justify-content-center col-12 align-items-center"></div>
            <div class="col-md-5 d-flex justify-content-center col-12 align-items-center" >
                <img class="img-fluid spons-img " src="images/sponsors/zoopmark.png" style="height: 300px;width:250px;padding-top:20px;">
            </div>
            <div class="col-md-5 d-flex justify-content-center col-12 align-items-center" >
                <img class="img-fluid spons-img " src="images/sponsors/leposh.png"style="height: 300px; width: 300px; padding-top:20px;">
            </div>
            <div class="col-md-1 d-flex justify-content-center col-12 align-items-center"></div>
        </div>
    </div>
</html>