<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/sponsers.css' />
    </head>
    <body>
        <div class="title">
            <span class="top right"></span>
            <span class="top left"></span>
            <h2>SPONSERS</h2>
            <span class="bottom right"></span>
            <span class="bottom left"></span>
        </div>
        
    </body>
</html>