<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/sponsers.css' />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>SPONSORS</title>
        <style>
               
        </style>
    </head>
    <body>

        <%- include('partials/preloader') %>
        <!-- <a href="/" class="homelogo" ><i class="fa fa-home fa-3x" title="Home"></i></a> -->
        <%- include('partials/navbar1') %>
        <div class="outer" style="margin-top: 100px;">
            <div class="title"> SPONSORS </div>
            <div class="left"></div>
            <div class="right"></div>
        </div>
        
    <div class="container sponsor" style="padding-top: 20px;margin-top:60px;justify-content: center;">
        <div class="row r1 d-flex " style="justify-content: center;margin-bottom:20px;">
                <div class="card" style="">
                  <div class="card__image-holder">
                    <center>
                        <img class=" card__image img-fluid spons-img " src="images/sponsors/MyBhubaneswar.png" style="height: 130px;width:180px;padding-top:20px;">
                    </center>
                  </div>
                  <div class="card-title">              
                    <h2>
                        Media Partner   </h2>
                  </div>
                </div>
                <div class="card">
                  <div class="card__image-holder">
                    <center>
                        <img class="card__image img-fluid spons-img " src="images/sponsors/unnamed.png"style="height: 70px; width: 270px; margin-top:40px;">
                    </center>
                  </div>
                  <div class="card-title">
                    <h2>
                        Media Partner            </h2>
                  </div>
                </div>
                <div class="card">
                  <div class="card__image-holder">
                    <center>
                        <img class=" card__image img-fluid spons-img " src="images/sponsors/Odishashines.png"style="height:150px;width: auto;padding-top:20px;"> 
                    </center>    
                  </div>
                  <div class="card-title">
                    <h2>
                        Media Partner            </h2>
                  </div>
                </div>
        </div>

        <div class="row r2" style="justify-content: center;margin-bottom:20px;">
            <div class="card">
                <div class="card__image-holder">
                  <center>
                      <img class=" card__image img-fluid spons-img " src="images/sponsors/pierooms.png" style="height: 130px;width:150px;margin-top: 10px;">
                  </center>
                </div>
                <div class="card-title">              
                  <h2>
                   Hospitality Partner          </h2>
                </div>
              </div>
              <div class="card">
                <div class="card__image-holder">
                  <center>
                      <img class="card__image img-fluid spons-img " src="images/sponsors/oc.png"style="height: 90px; width: 300px; margin-top:20px;">
                  </center>
                </div>
                <div class="card-title">
                  <h2>
                    Online Media Partner          </h2>
                </div>
              </div>
              <div class="card">
                <div class="card__image-holder">
                  <center>
                      <img class=" card__image img-fluid spons-img " src="images/sponsors/discoverodisha.png"style="height:150px;width: auto;"> 
                  </center>    
                </div>
                <div class="card-title">
                  <h2>
                    Social Media Partner          </h2>
                </div>
              </div>
        </div>

        <div class="row r2 " style="justify-content: center   ;margin-bottom:20px;">
            <div class="card">
                <div class="card__image-holder">
                  <center>
                      <img class=" card__image img-fluid spons-img " src="images/sponsors/leposh.png" style="height: 270px;width:300px; align-self: center;margin-top: -40px;">
                  </center>
                </div>
                <div class="card-title">              
                  <h2>
                    Fashion Partner          </h2>
                </div>
              </div>
              <div class="card">
                <div class="card__image-holder">
                  <center>
                      <img class="card__image img-fluid spons-img " src="images/sponsors/zoopmark.png"style="height: 130px; width: 250px;margin-top:30px;align-self:center; ">
                  </center>
                </div>
                <div class="card-title">
                  <h2>
                    Digital Marketing Partner          </h2>
                </div>
              </div>
              <div class="card">
                <div class="card__image-holder">
                  <center>
                      <img class=" card__image img-fluid spons-img " src="images/sponsors/leposh.png"style="height: 270px;width:300px; align-self: center;margin-top: -40px;"> 
                  </center>    
                </div>
                <div class="card-title">
                  <h2>
                    Grooming Partner          </h2>
                </div>
              </div>
        </div>

        <div class="row r2" style="justify-content:center ;margin-bottom:20px;">
            <div class="card">
                <div class="card__image-holder">
                  <center>
                      <img class=" card__image img-fluid spons-img " src="images/sponsors/cl.png" style="height: 100px;width:240px; align-self: center;margin-top: 20px;">
                  </center>
                </div>
                <div class="card-title">              
                  <h2>
                    Education Partner          </h2>
                </div>
              </div>
              <div class="card">
                <div class="card__image-holder">
                  <center>
                      <img class="card__image img-fluid spons-img " src="images/sponsors/lit.png"style="height: 90px; width: 300px; margin-top:40px;">
                  </center>
                </div>
                <div class="card-title">
                  <h2>
                    Education Partner          </h2>
                </div>
              </div>
              <div class="card">
                <div class="card__image-holder">
                  <center>
                      <img class=" card__image img-fluid spons-img " src="images/sponsors/Skyyrider.png"style="height:150px;width: auto;padding-top:20px;"> 
                  </center>    
                </div>
                <div class="card-title">
                  <h2>
                   Education Partner          </h2>
                </div>
              </div> 
        </div>

        <div class="row r2" style="justify-content: center;justify-content:center;margin-bottom:80px;">
            <div class="card">
                <div class="card__image-holder" style="padding-right: 50px;">
                  <center>
                      <img class=" card__image img-fluid spons-img " src="images/sponsors/H.png" style="height: 120px;width:180px; align-self: center;margin-top: 20px;margin-left: 50px;">
                  </center>
                </div>
                <div class="card-title">              
                  <h2>
                    Coupon Partner          </h2>
                </div>
              </div>
              <div class="card">
                <div class="card__image-holder">
                  <center>
                      <img class="card__image img-fluid spons-img " src="images/sponsors/amri.png"style="height: 70px; width: 250px; margin-top:40px">
                  </center>
                </div>
                <div class="card-title">
                  <h2>
                    Medical Partner          </h2>
                </div>
              </div>
               
        </div>
        </div>
    </div>
    </body>
</html>