<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/sponsers.css' />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>SPONSORS</title>
    </head>
    <body>
  
       
        <a href="/" class="homelogo" ><i class="fa fa-home fa-3x" ></i></a>

        <div class="title">
            <span class="top right"></span>
            <span class="top left"></span>
            <h2>SPONSORS</h2>
            <span class="bottom right"></span>
            <span class="bottom left"></span>
        </div>
        
        <div title="title sponsors">
            
            <div class="container my-container">
                <div class="row my-row">
                    <div class="hover14 column">

                    
                        <div class="col-md-4 sm-6">
                            <div class="logo">
                                <figure><img class="logo"   src="images/sponsors/discoverodisha.jpg" ></figure>
                                <span>Discover Odisha as<br>Social Media Partner</span>
                              </div>
                        </div>

                        <div class="col-md-4 sm-6">
                            <div class="logo">
                                <figure><img class="logo" src="images/sponsors/leposh.png" /></figure>
                                <span>Le Posh as<br>Fashion Partner</span>
                              </div>
                        </div>

                        <div class="col-md-4 sm-6">
                           <div class="logo">
                                <figure><img class="logo" src='images/sponsors/My Bhubaneswar PNG.png' /></figure>
                                <span>My Bhubaneswar as<br>Media Partner</span>
                              </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div title="title sponsors">   
            
            <h2 id="demo14"> Media Partners</h2>

            <div class="container my-container">
                <div class="row my-row">
                    <div class="hover14 column">

                    
                        <div class="col-md-4 sm-6">
                            <div class="logo">
                                <figure><img class="logo" src='images/sponsors/oc2.jpg' /></figure>
                                <span>ohcampus.com as<br>Online Media Partner</span>
                              </div>
                        </div>

                        <div class="col-md-4 sm-6">
                            <div class="logo">
                                <figure><img class="logo" src="images/sponsors/zoopmark.png" /></figure>
                                <span>Zoopmark as<br>Digital Marketing Partner</span>
                              </div>
                        </div>

                        <div class="col-md-4 sm-6">
                           <div class="logo">
                                <figure><img class="logo" src="images/sponsors/leposh.png" /></figure>
                                <span>Le Posh as<br>Grooming Partner</span>
                              </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div title="title sponsors">
            
            <div class="container my-container">
                <div class="row my-row">
                    <div class="hover14 column">

                    
                        <div class="col-md-4 sm-6">
                            <div class="logo">
                                <figure><img class="logo" src="images\sponsors\Odishashines.jpg" /></figure>
                                <span>Odishashines as<br>Media Partner</span>
                              </div>
                        </div>

                        <div class="col-md-4 sm-6">
                            <div class="logo">
                                <figure><img class="logo" src="images/sponsors/pierooms.png" /></figure>
                                <span>Pie Rooms as<br>Hospitality Partner</span>
                              </div>
                        </div>

                        <div class="col-md-4 sm-6">
                           <div class="logo">
                                <figure><img class="logo" src='images/sponsors/unnamed.png' /></figure>
                                <span>mycitylinks as<br>Media Partner</span>
                              </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        




    </body>
</html>