    <!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
            <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css">
            <link rel="stylesheet" href="stylesheets/team.css">
            <title>Our Team</title>
        </head>
<body>
    
<%- include('partials/navbar1') %>
<section style="margin-top: 100px;">
    <section class="team-page-section pt-5">
        <div class="container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title">Our Team</div>
                <div class="separator"><span></span></div>
                <h2>XTASY 2020 TEAM</h2>
            </div>

            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/ashok.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/anindit.panigrahi"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/anindit5.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Anindit Panigrahy</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec-title centered">
                <div class="title">Core Team</div>
                <div class="separator"><span></span></div>
            </div>
            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/ashok.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/anindit.panigrahi"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/anindit5.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Anindit Panigrahy</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/ashok.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/anindit.panigrahi"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/anindit5.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Anindit Panigrahy</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/ashok.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/anindit.panigrahi"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/anindit5.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Anindit Panigrahy</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/ashok.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/anindit.panigrahi"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/anindit5.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Anindit Panigrahy</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/ashok.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/anindit.panigrahi"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/anindit5.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Anindit Panigrahy</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/ashok.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/anindit.panigrahi"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/anindit5.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Anindit Panigrahy</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/ashok.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/anindit.panigrahi"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/anindit5.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Anindit Panigrahy</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/ashok.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/anindit.panigrahi"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/anindit5.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Anindit Panigrahy</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/ashok.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/anindit.panigrahi"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/anindit5.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Anindit Panigrahy</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/ashok.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</section>

</body>
</html>