    <!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
            <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css">
            <link rel="stylesheet" href="stylesheets/team.css">
            <title>Our Team</title>
        </head>
<body>
    
<%- include('partials/navbar1') %>
<section style="margin-top: 100px;">
    <section class="team-page-section pt-5">
        <div class="container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title">Our Team</div>
                <div class="separator"><span></span></div>
                <h2>XTASY 2020 TEAM</h2>
            </div>

            <div class="row clearfix">

                <!-- Team Block 1-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ashok.montry.77"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/ashok1.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ashok Kumar Montry</a></h3>
                            <div class="designation">Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 2-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sam.L32"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/sambit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sambit Pradhan</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 3-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/anindit.panigrahi"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/anindit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Anindit Panigrahi</a></h3>
                            <div class="designation">Assistant Cultural Secretary</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">

                <!-- Team Block 4-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/abhijit.panigrahi.391"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/abhipani.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Abhijit Panigrahi</a></h3>
                            <div class="designation">Sponsorship</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 5-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/arunanshu.nanda.3"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/arunanshu.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Arunanshu Nanda</a></h3>
                            <div class="designation">Sponsorship</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 6-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/swagat.sahu.735"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/swagat.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Swagat Sahu</a></h3>
                            <div class="designation">Photofactory</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block 7-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/profile.php?id=100002966212544"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/ajit.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Ajit Kumar Panda</a></h3>
                            <div class="designation">Design</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 8-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/pratikpanda03"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/pratik.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Pratik Panda</a></h3>
                            <div class="designation">Design</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 9-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/vikash.chowdhary.777"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/vikash.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Vikash Chowdhary</a></h3>
                            <div class="designation">Logistics</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block 10-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/subrat.dash.1671"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/subrat.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Subrat Dash</a></h3>
                            <div class="designation">Logistics</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 11-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/umesh.agrawal.739"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/umesh.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Umesh Agrawal</a></h3>
                            <div class="designation">Promotion</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 12-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sahoo.rajesh.940"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/rajesh.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Rajesh Sahoo</a></h3>
                            <div class="designation">Promotion</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block 13-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <!-- <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/smruti.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Smruti Ranjan Nanda</a></h3>
                            <div class="designation">Decoration</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 14-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sarthak.naik.71"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/sarthak.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sarthak Sekhar Naik</a></h3>
                            <div class="designation">Hospitality</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 15-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sarthak.rout.923"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/sarthakrout.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sarthak Rout</a></h3>
                            <div class="designation">Website Team Head</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block 16-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sarthak.be.7154"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/sarthakpattnaik.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sarthak Pattnaik</a></h3>
                            <div class="designation">X-Cop</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 17-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/Besty.shubham"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/shubhamshukla.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Shubham Shukla</a></h3>
                            <div class="designation">X-Cop</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 18-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/diptiranjan.naik"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images//minteam/dipti.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Dipti Ranjan Naik</a></h3>
                            <div class="designation">X-Cop</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block 19-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/debaraj.rout.3"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/debraj.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Debraj Rout</a></h3>
                            <div class="designation">Event Coordination</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 20-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sourav.shandilya.50"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/sourav.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Sourav Shandilya</a></h3>
                            <div class="designation">Event Coordination</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 21-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/harekrishna.biswal.3"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->

                            <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/harekrishna.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Harekrishna Biswal</a></h3>
                            <div class="designation">Decoration</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Team Block 22-->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/abhijeet.sahani.9?ref=br_rs"><i class="fab fa-facebook-f"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fab fa-skype"></i></a></li> -->
                             <!-- <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
                        </ul>
                        <div class="image">
                            <img class="img-fluid" src="images/minteam/abhijeet.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3><a>Abhijeet Sahani</a></h3>
                            <div class="designation">Decoration</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block 23-->
                
                
            </div>
        </div>
    </section>
</section>

</body>
</html>