<html>
  <head>
    <style>
      body {
        background-color: black;
        color: white;
      }
      #logo {
        margin: auto;
        text-align: center;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div id="logo">
      <img src="cid:logo">
    </div>
    <p>Dear <b><%= name %></b></p>
    <p><b><i>Greetings from Team XTASY!</i></b></p>
    <br>
    <p>You have succesfully registered for <b>XTASY 2020</b>.</p>
    <p>Your XTASY id is: <b><%= uid %></b></p> 
    <p>Kindly visit: <a href="https://cet.edu.in">https://.cet.edu.in</a> to register for different events of Xtasy 2020.</p>
    <br>
    <p>Follow our Facebook and Instagram pages for more details and regular updates:</p>
    <p>
      <a href="https://www.facebook.com/xtasycetbbsr">https://facebook.com/xtasycetbbsr</a>
    </p>
    <p>
      <a href="https://www.instagram.com/xtasy_cetb">https://www.instagram.com/xtasy_cetb/</a>
    </p>
    <br>
    <p>For any queries, please contact us at</p>
    <a href="mailto:prateek.mohanty2599@gmail.com">prateek.mohanty2599@gmail.com</a>

    <p> -- </p>
    <p> Best Wishes, </p>
    <p> Team XTASY </p>
  </body>
</html>