body {
	background: #ECECEC;
}
.title {
    text-align: center;
    position: relative;
    margin: 50px auto;
  }
  h2 {
    font-family: arial;
    color: #333;
    font-size: 40px;
    text-align: center;
    margin: 0 20px;
    padding: 0 15px;
    text-transform: uppercase;
  }
  span {
    display: inline-block;
    position: absolute;
    background: #faa;
    height: 3px;
  }
  span.top {
    width: 70px;
    top: 20px;
  }
  span.bottom {
    width: 120px;
    top: 35px;
  }
  span.left {
    left: 48%;
    transform: translateX(-150px);
  }
  span.bottom.left {
    transform: translateX(-200px);
  }
  span.right {
    left: 52%;
    transform: translateX(80px);
  }
.container {
	max-width: 720px;
	margin: 24px auto 48px auto;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h2 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 2.5rem;
}

.row {
	margin-top: 12px;
}

.column {
	display: inline-block;
	text-align: center;
}

figure {
	overflow: hidden;
}

a p {
	color: black;
	margin-top: 8px;
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: none;
}
.column img {
	display: block;
	width: 100%;
	height: 300px;
}
.tdimension {
	width: 300px;
	height: 300px;
	margin: 20px auto 40px auto;
	perspective: 1000px;
}
.tdimension a {
	display: block;
	width: 100%;
	height: 100%;
	background: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/e8346826957515.56361c2106f3f.png");
	background-size: cover;
	transform-style: preserve-3d;
	transform: rotateX(70deg);
	transition: all 0.8s;	
}
.tdimension:hover a {
	transform: rotateX(20deg); 	
}	
.tdimension a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));    
   	transform: rotateX(90deg);
    transform-origin: bottom;
}