body {
  background:fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/new.png") ;
  overflow-y: hidden;
  padding: 0;
  margin: 0;   
}


@media screen and (max-width: 767px) {
  body {
    background-size: fit;
    background-image: url("../images/mob.png");
  }
  }
